<a href="https://colab.research.google.com/github/ImSumitJadhav/Pandas-Library/blob/main/T15_Conversion_of_Datetime_Column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Conversion of Datetime Column**

In [350]:
#import library and modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [351]:
# Importing the request libary
import requests

# Using the request library to download the fordgobike-tripdata.csv file programmatically
url = 'https://video.udacity-data.com/topher/2020/October/5f91cf38_201902-fordgobike-tripdata/201902-fordgobike-tripdata.csv'
response = requests.get(url)

# writing it to file
with open('201902-fordgobike-tripdata.csv', 'wb') as f:
    f.write(response.content)

In [352]:
# reading the csv file into a DataFrame
df = pd.read_csv('201902-fordgobike-tripdata.csv')

In [353]:
df=df.iloc[:,:3]
df.head()

   duration_sec                start_time                  end_time
0         52185  2019-02-28 17:32:10.1450  2019-03-01 08:01:55.9750
1         42521  2019-02-28 18:53:21.7890  2019-03-01 06:42:03.0560
2         61854  2019-02-28 12:13:13.2180  2019-03-01 05:24:08.1460
3         36490  2019-02-28 17:54:26.0100  2019-03-01 04:02:36.8420
4          1585  2019-02-28 23:54:18.5490  2019-03-01 00:20:44.0740

In [354]:
df1=df.copy()



---



Reference table for the format codes.

# **Directive >>>>>	Meaning >>>>>	Output Format**


%a >>>>> Abbreviated weekday name >>>>>	Sun, Mon,….

%A >>>>>	Full weekday name.	>>>>> Sunday, Monday,…..

%w >>>>>	Weekday as a decimal number. >>>>>	0, 1,….., 6

%d >>>>>	Day of the month as a zero added decimal. >>>>>	01, 02,…., 31

%-d >>>>>	Day of the month as a decimal number. >>>>>	1, 2,…., 30

%b >>>>>	Abbreviated month name. >>>>>	Jan, Feb,…., Dec

%B >>>>>	Full month name.	>>>>> January, February,….

%m >>>>>	Month as a zero added decimal number.	>>>>> 01, 02,…., 12

%-m >>>>>	Month as a decimal number. >>>>>	1, 2,….., 12

%y >>>>>	Year without century as a zero added decimal number. >>>>>	00, 01,…, 99

%-y	>>>>> Year without century as a decimal number. >>>>>	0, 1,…, 99

%Y >>>>>	Year with century as a decimal number. >>>>>	2013, 2019 etc.

%H >>>>>	Hour (24-hour clock) as a zero added decimal number. >>>>>	00, 01,….., 23

%-H >>>>>	Hour (24-hour clock) as a decimal number. >>>>>	0, 1,…., 23

%I >>>>>	Hour (12-hour clock) as a zero added decimal number. >>>>>	01, 02,…, 12

%-I >>>>>	Hour (12-hour clock) as a decimal number. >>>>>	1, 2,…,12

%p >>>>>	Locale’s AM or PM. >>>>>	AM, PM

%M >>>>>	Minute as a zero added decimal number. >>>>>	00, 01,…., 59

%-M >>>>>	Minute as a decimal number. >>>>>	0, 1,…, 59

%S >>>>>	Second as a zero added decimal number. >>>>>	00, 01,…, 59

%-S >>>>>	Second as a decimal number. >>>>>	0, 1,…., 59

%f >>>>>	Microsecond as a decimal number, zero added on the left. >>>>>	000000 – 999999

%z >>>>>	UTC offset in the form +HHMM or -HHMM.

%Z >>>>>	Time zone name.

%j >>>>>	Day of the year as a zero added decimal number. >>>>>	001, 002,….., 366

%-j >>>>>	Day of the year as a decimal number. >>>>>	1, 2,…., 366

%U >>>>>	Week number of the year (Sunday as the first day of the week). All days in a new year preceding the first Sunday are considered to be in week 0. >>>>>	00, 01,…., 53

%W >>>>>	Week number of the year (Monday as the first day of the week). All days in a new year preceding the first Monday are considered to be in week 0. >>>>>	00, 01,….., 53



---

**>>>>>>>>>>>>>>>>>>>>>We use df dataframe**

**A)Object datatype to Datetime**

In [355]:
#after
df[["start_time","end_time"]].dtypes

start_time    object
end_time      object
dtype: object

In [356]:
df.start_time=pd.to_datetime(df.start_time)
df.end_time=pd.to_datetime(df.end_time)

In [357]:
#before
df[["start_time","end_time"]].dtypes

start_time    datetime64[ns]
end_time      datetime64[ns]
dtype: object

**B)Extract year from column**

In [358]:
df["Year1"]=df["start_time"].dt.strftime("%Y")

In [359]:
df.sample(5)

        duration_sec              start_time                end_time Year1
90771            512 2019-02-16 11:33:27.293 2019-02-16 11:41:59.946  2019
69794            668 2019-02-19 18:54:53.660 2019-02-19 19:06:02.506  2019
177488           142 2019-02-01 21:23:51.032 2019-02-01 21:26:13.525  2019
173671           648 2019-02-03 10:00:13.518 2019-02-03 10:11:02.129  2019
34534           1026 2019-02-23 23:01:01.955 2019-02-23 23:18:08.808  2019

In [360]:
df["Year2"]=df["start_time"].dt.strftime("%y")

In [361]:
df.sample(5)

,duration_sec,start_time,end_time,Year1,Year2
79092,917,2019-02-18 17:57:00.418,2019-02-18 18:12:17.496,2019,19
33023,585,2019-02-24 12:59:45.288,2019-02-24 13:09:30.421,2019,19
149211,149,2019-02-06 19:48:08.986,2019-02-06 19:50:38.448,2019,19
41175,153,2019-02-22 18:59:59.767,2019-02-22 19:02:33.457,2019,19
10702,379,2019-02-27 19:52:58.529,2019-02-27 19:59:18.221,2019,19

**C)Extract month from column**

In [362]:
df["Month1"]=df["start_time"].dt.strftime("%m")

In [363]:
df.sample(5)

,duration_sec,start_time,end_time,Year1,Year2,Month1
10515,405,2019-02-27 20:17:04.309,2019-02-27 20:23:50.017,2019,19,02
175781,442,2019-02-02 13:25:56.229,2019-02-02 13:33:18.880,2019,19,02
8266,708,2019-02-28 08:26:19.618,2019-02-28 08:38:08.498,2019,19,02
90128,445,2019-02-16 13:37:39.200,2019-02-16 13:45:04.932,2019,19,02
165075,461,2019-02-05 07:46:51.605,2019-02-05 07:54:33.066,2019,19,02

In [364]:
df["Month2"]=df["start_time"].dt.strftime("%B")

In [365]:
df.sample(5)

,duration_sec,start_time,end_time,Year1,Year2,Month1,Month2
1022,868,2019-02-28 19:45:00.934,2019-02-28 19:59:29.830,2019,19,02,February
173800,1030,2019-02-03 09:12:03.974,2019-02-03 09:29:14.720,2019,19,02,February
22002,872,2019-02-26 08:32:05.904,2019-02-26 08:46:38.260,2019,19,02,February
81048,1141,2019-02-18 14:01:14.936,2019-02-18 14:20:16.375,2019,19,02,February
46194,751,2019-02-22 10:03:39.134,2019-02-22 10:16:10.182,2019,19,02,February

In [366]:
df["Month3"]=df["start_time"].dt.strftime("%b")

In [367]:
df.sample(5)

,duration_sec,start_time,end_time,Year1,Year2,Month1,Month2,Month3
87734,345,2019-02-16 23:07:53.947,2019-02-16 23:13:39.335,2019,19,02,February,Feb
86900,320,2019-02-17 11:32:11.868,2019-02-17 11:37:32.017,2019,19,02,February,Feb
163358,767,2019-02-05 09:17:13.924,2019-02-05 09:30:01.044,2019,19,02,February,Feb
165972,2397,2019-02-04 20:11:47.289,2019-02-04 20:51:45.277,2019,19,02,February,Feb
81961,258,2019-02-18 11:54:08.235,2019-02-18 11:58:26.295,2019,19,02,February,Feb

In [368]:
df["Month4"]=df["start_time"].dt.strftime("%-m")

In [369]:
df.sample(5)

,duration_sec,start_time,end_time,Year1,Year2,Month1,Month2,Month3,Month4
66084,313,2019-02-20 09:02:59.287,2019-02-20 09:08:12.464,2019,19,02,February,Feb,2
28271,343,2019-02-25 08:52:11.305,2019-02-25 08:57:54.658,2019,19,02,February,Feb,2
120637,290,2019-02-11 16:53:22.503,2019-02-11 16:58:13.149,2019,19,02,February,Feb,2
106865,527,2019-02-13 17:22:28.222,2019-02-13 17:31:15.676,2019,19,02,February,Feb,2
12307,599,2019-02-27 17:40:35.603,2019-02-27 17:50:34.721,2019,19,02,February,Feb,2

**d)Extract Day from column**

In [370]:
df["Day1"]=df["start_time"].dt.strftime("%A")

In [371]:
df.sample(5)

,duration_sec,start_time,end_time,Year1,Year2,Month1,Month2,Month3,Month4,Day1
95515,530,2019-02-15 13:30:48.634,2019-02-15 13:39:38.674,2019,19,02,February,Feb,2,Friday
120264,588,2019-02-11 17:09:46.964,2019-02-11 17:19:35.756,2019,19,02,February,Feb,2,Monday
62778,705,2019-02-20 16:23:39.644,2019-02-20 16:35:25.587,2019,19,02,February,Feb,2,Wednesday
93441,159,2019-02-15 17:44:54.256,2019-02-15 17:47:33.467,2019,19,02,February,Feb,2,Friday
99269,381,2019-02-14 20:36:08.494,2019-02-14 20:42:29.861,2019,19,02,February,Feb,2,Thursday

In [372]:
df["Day2"]=df["start_time"].dt.strftime("%a")

In [373]:
df.sample(5)

,duration_sec,start_time,end_time,Year1,Year2,Month1,Month2,Month3,Month4,Day1,Day2
95406,265,2019-02-15 13:55:02.899,2019-02-15 13:59:28.522,2019,19,02,February,Feb,2,Friday,Fri
114431,450,2019-02-12 09:34:44.098,2019-02-12 09:42:14.404,2019,19,02,February,Feb,2,Tuesday,Tue
158507,680,2019-02-05 18:55:32.427,2019-02-05 19:06:52.474,2019,19,02,February,Feb,2,Tuesday,Tue
92549,783,2019-02-15 18:40:29.692,2019-02-15 18:53:33.334,2019,19,02,February,Feb,2,Friday,Fri
13315,365,2019-02-27 16:26:55.780,2019-02-27 16:33:01.122,2019,19,02,February,Feb,2,Wednesday,Wed

In [374]:
df["Day3"]=df["start_time"].dt.strftime("%d")

In [375]:
df.sample(5)

,duration_sec,start_time,end_time,Year1,Year2,Month1,Month2,Month3,Month4,Day1,Day2,Day3
142555,313,2019-02-07 17:03:19.435,2019-02-07 17:08:33.265,2019,19,02,February,Feb,2,Thursday,Thu,07
32521,545,2019-02-24 14:11:42.996,2019-02-24 14:20:48.935,2019,19,02,February,Feb,2,Sunday,Sun,24
45618,508,2019-02-22 11:47:25.448,2019-02-22 11:55:53.773,2019,19,02,February,Feb,2,Friday,Fri,22
172463,688,2019-02-03 15:49:16.027,2019-02-03 16:00:44.906,2019,19,02,February,Feb,2,Sunday,Sun,03
163245,510,2019-02-05 09:28:09.778,2019-02-05 09:36:39.914,2019,19,02,February,Feb,2,Tuesday,Tue,05

In [376]:
df["Day4"]=df["start_time"].dt.strftime("%-d")

In [377]:
df.sample(5)

,duration_sec,start_time,end_time,Year1,Year2,Month1,Month2,Month3,Month4,Day1,Day2,Day3,Day4
39668,74,2019-02-23 07:43:17.732,2019-02-23 07:44:32.593,2019,19,02,February,Feb,2,Saturday,Sat,23,23
126592,1189,2019-02-10 18:04:44.587,2019-02-10 18:24:34.540,2019,19,02,February,Feb,2,Sunday,Sun,10,10
136407,1174,2019-02-08 09:42:55.517,2019-02-08 10:02:29.846,2019,19,02,February,Feb,2,Friday,Fri,08,8
87728,543,2019-02-16 23:07:52.195,2019-02-16 23:16:56.102,2019,19,02,February,Feb,2,Saturday,Sat,16,16
6018,1054,2019-02-28 11:17:56.778,2019-02-28 11:35:31.698,2019,19,02,February,Feb,2,Thursday,Thu,28,28

**E)Extract day number in week from column**

In [378]:
df["Week_Day1"]=df["start_time"].dt.strftime("%w")

In [379]:
df.sample(5)

,duration_sec,start_time,end_time,Year1,Year2,Month1,Month2,Month3,Month4,Day1,Day2,Day3,Day4,Week_Day1
152420,131,2019-02-06 15:56:26.972,2019-02-06 15:58:38.223,2019,19,02,February,Feb,2,Wednesday,Wed,06,6,3
138571,781,2019-02-08 07:06:25.041,2019-02-08 07:19:26.475,2019,19,02,February,Feb,2,Friday,Fri,08,8,5
33783,1015,2019-02-24 10:27:58.156,2019-02-24 10:44:53.830,2019,19,02,February,Feb,2,Sunday,Sun,24,24,0
145916,815,2019-02-07 09:03:44.416,2019-02-07 09:17:19.729,2019,19,02,February,Feb,2,Thursday,Thu,07,7,4
48056,136,2019-02-22 08:21:44.082,2019-02-22 08:24:01.075,2019,19,02,February,Feb,2,Friday,Fri,22,22,5

**f)Extract Hour from column**

**>>>>>>>>>>>>>>>>From this point we use df1 dataframe**

In [380]:
 df1["Hour1"]=df["start_time"].dt.strftime("%H")

In [381]:
df1.sample(5)

        duration_sec                start_time                  end_time Hour1
8376             889  2019-02-28 08:18:49.3590  2019-02-28 08:33:38.5610    08
34103            466  2019-02-24 09:05:54.1400  2019-02-24 09:13:40.3940    09
6430             368  2019-02-28 10:17:03.1710  2019-02-28 10:23:11.6510    10
101510          1852  2019-02-14 17:04:38.3980  2019-02-14 17:35:31.2560    17
165480           309  2019-02-05 06:56:59.1930  2019-02-05 07:02:08.2690    06

In [382]:
 df1["Hour2"]=df["start_time"].dt.strftime("%-H")

In [383]:
df1.sample(5)

,duration_sec,start_time,end_time,Hour1,Hour2
25443,670,2019-02-25 16:55:31.0730,2019-02-25 17:06:42.0020,16,16
181886,868,2019-02-01 08:40:49.1790,2019-02-01 08:55:17.3790,08,8
37259,1102,2019-02-23 14:19:45.1070,2019-02-23 14:38:07.2000,14,14
61597,876,2019-02-20 17:28:57.0810,2019-02-20 17:43:33.1400,17,17
131133,166,2019-02-09 14:03:04.6840,2019-02-09 14:05:51.2500,14,14

In [384]:
 df1["Hour3"]=df["start_time"].dt.strftime("%I")

In [385]:
df1.sample(5)

,duration_sec,start_time,end_time,Hour1,Hour2,Hour3
75685,487,2019-02-19 08:53:35.6000,2019-02-19 09:01:43.5760,08,8,08
33594,564,2019-02-24 11:14:02.6260,2019-02-24 11:23:26.6740,11,11,11
179031,357,2019-02-01 15:41:18.8840,2019-02-01 15:47:16.6600,15,15,03
162045,136,2019-02-05 13:01:54.3740,2019-02-05 13:04:11.3600,13,13,01
38684,1379,2019-02-23 11:13:20.7160,2019-02-23 11:36:20.6210,11,11,11

In [386]:
 df1["Hour3"]=df["start_time"].dt.strftime("%-I")

In [387]:
df1.sample(5)

,duration_sec,start_time,end_time,Hour1,Hour2,Hour3
11911,585,2019-02-27 18:06:14.9810,2019-02-27 18:16:00.9470,18,18,6
102591,860,2019-02-14 16:07:20.2040,2019-02-14 16:21:40.8130,16,16,4
2664,449,2019-02-28 17:54:43.1700,2019-02-28 18:02:13.0400,17,17,5
6251,457,2019-02-28 10:41:33.1870,2019-02-28 10:49:10.3160,10,10,10
33496,337,2019-02-24 11:37:28.1480,2019-02-24 11:43:05.9460,11,11,11

**G)Extract AM/PM from column**

In [388]:
 df1["AM/PM"]=df["start_time"].dt.strftime("%p")

In [389]:
df1.sample(5)

,duration_sec,start_time,end_time,Hour1,Hour2,Hour3,AM/PM
131933,960,2019-02-09 10:12:37.1360,2019-02-09 10:28:38.0660,10,10,10,AM
79514,312,2019-02-18 17:29:31.1750,2019-02-18 17:34:43.6700,17,17,5,PM
60401,664,2019-02-20 18:38:46.1990,2019-02-20 18:49:51.0100,18,18,6,PM
23293,1209,2019-02-25 20:43:45.1450,2019-02-25 21:03:54.7930,20,20,8,PM
112077,497,2019-02-12 16:11:25.3840,2019-02-12 16:19:43.0910,16,16,4,PM

**H)Extract minute from column**

In [390]:
 df1["Minute1"]=df["start_time"].dt.strftime("%M")

In [391]:
df1.sample(5)

,duration_sec,start_time,end_time,Hour1,Hour2,Hour3,AM/PM,Minute1
11034,411,2019-02-27 19:13:59.7520,2019-02-27 19:20:51.1560,19,19,7,PM,13
127616,460,2019-02-10 15:23:24.8650,2019-02-10 15:31:05.6870,15,15,3,PM,23
33187,1718,2019-02-24 12:13:27.9290,2019-02-24 12:42:06.3520,12,12,12,PM,13
158326,1533,2019-02-05 19:00:06.3570,2019-02-05 19:25:39.7380,19,19,7,PM,00
158329,1016,2019-02-05 19:08:34.9110,2019-02-05 19:25:30.9140,19,19,7,PM,08

In [392]:
 df1["Minute2"]=df["start_time"].dt.strftime("%-M")

In [393]:
df1.sample(5)

,duration_sec,start_time,end_time,Hour1,Hour2,Hour3,AM/PM,Minute1,Minute2
47369,281,2019-02-22 08:53:34.6380,2019-02-22 08:58:16.4420,08,8,8,AM,53,53
55280,168,2019-02-21 10:36:45.2130,2019-02-21 10:39:33.8770,10,10,10,AM,36,36
80107,2800,2019-02-18 15:39:22.7500,2019-02-18 16:26:03.6890,15,15,3,PM,39,39
151986,1012,2019-02-06 16:30:35.6800,2019-02-06 16:47:28.4290,16,16,4,PM,30,30
168635,752,2019-02-04 14:09:36.2370,2019-02-04 14:22:08.9480,14,14,2,PM,09,9

**I)Extract Seconds from column**

In [394]:
 df1["Second1"]=df["start_time"].dt.strftime("%S")

In [395]:
df1.sample(5)

,duration_sec,start_time,end_time,Hour1,Hour2,Hour3,AM/PM,Minute1,Minute2,Second1
57947,313,2019-02-21 07:47:07.4270,2019-02-21 07:52:20.4360,07,7,7,AM,47,47,07
109527,540,2019-02-12 18:55:53.9420,2019-02-12 19:04:54.5720,18,18,6,PM,55,55,53
50223,600,2019-02-21 19:31:35.8090,2019-02-21 19:41:36.2060,19,19,7,PM,31,31,35
91973,522,2019-02-15 20:54:16.3920,2019-02-15 21:02:58.5270,20,20,8,PM,54,54,16
83112,205,2019-02-18 08:11:36.5070,2019-02-18 08:15:01.9280,08,8,8,AM,11,11,36

In [396]:
 df1["Second2"]=df["start_time"].dt.strftime("%-S")

In [397]:
df1.sample(5)

,duration_sec,start_time,end_time,Hour1,Hour2,Hour3,AM/PM,Minute1,Minute2,Second1,Second2
112075,324,2019-02-12 16:14:22.5980,2019-02-12 16:19:46.7330,16,16,4,PM,14,14,22,22
71349,521,2019-02-19 17:33:11.4810,2019-02-19 17:41:52.8170,17,17,5,PM,33,33,11,11
152052,455,2019-02-06 16:33:44.1700,2019-02-06 16:41:19.6700,16,16,4,PM,33,33,44,44
72256,466,2019-02-19 16:41:33.6340,2019-02-19 16:49:20.0880,16,16,4,PM,41,41,33,33
106128,711,2019-02-13 18:46:58.3890,2019-02-13 18:58:50.0330,18,18,6,PM,46,46,58,58

**J)Extract Day number of year from column**

In [398]:
 df1["Day_in_year1"]=df["start_time"].dt.strftime("%j")

In [399]:
df1.sample(5)

,duration_sec,start_time,end_time,Hour1,Hour2,Hour3,AM/PM,Minute1,Minute2,Second1,Second2,Day_in_year1
10022,618,2019-02-27 22:08:33.0570,2019-02-27 22:18:51.9830,22,22,10,PM,08,8,33,33,058
101831,610,2019-02-14 17:09:32.7680,2019-02-14 17:19:42.9510,17,17,5,PM,09,9,32,32,045
110643,193,2019-02-12 17:52:22.4140,2019-02-12 17:55:36.3610,17,17,5,PM,52,52,22,22,043
162394,385,2019-02-05 11:45:36.6250,2019-02-05 11:52:02.3730,11,11,11,AM,45,45,36,36,036
132614,1208,2019-02-08 23:26:45.2720,2019-02-08 23:46:53.9580,23,23,11,PM,26,26,45,45,039

In [400]:
 df1["Day_in_year2"]=df["start_time"].dt.strftime("%-j")

In [401]:
df1.sample(5)

,duration_sec,start_time,end_time,Hour1,Hour2,Hour3,AM/PM,Minute1,Minute2,Second1,Second2,Day_in_year1,Day_in_year2
33944,1043,2019-02-24 09:54:21.3770,2019-02-24 10:11:44.4930,09,9,9,AM,54,54,21,21,055,55
177804,615,2019-02-01 18:58:24.1390,2019-02-01 19:08:39.4560,18,18,6,PM,58,58,24,24,032,32
81451,455,2019-02-18 13:11:24.6090,2019-02-18 13:18:59.9480,13,13,1,PM,11,11,24,24,049,49
18523,838,2019-02-26 18:18:09.6220,2019-02-26 18:32:07.8420,18,18,6,PM,18,18,09,9,057,57
133395,631,2019-02-08 19:06:08.1940,2019-02-08 19:16:39.3770,19,19,7,PM,06,6,08,8,039,39

**K)Combining Month, Year and Day columns to make date column**

# **Solution 1**

In [402]:
df_date=df.loc[:,["Day3","Month1","Year1"]]
df_date.head()

  Day3 Month1 Year1
0   28     02  2019
1   28     02  2019
2   28     02  2019
3   28     02  2019
4   28     02  2019

In [403]:
col=["Day3","Month1","Year1"]
df_date["Date"]=df_date[col].apply(lambda x: '-'.join(x.values.astype(str)),axis="columns")

In [404]:
df_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183412 entries, 0 to 183411
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Day3    183412 non-null  object
 1   Month1  183412 non-null  object
 2   Year1   183412 non-null  object
 3   Date    183412 non-null  object
dtypes: object(4)
memory usage: 5.6+ MB

In [405]:
df_date["Date"]=pd.to_datetime(df_date["Date"])

In [406]:
df_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183412 entries, 0 to 183411
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Day3    183412 non-null  object
 1   Month1  183412 non-null  object
 2   Year1   183412 non-null  object
 3   Date    183412 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 5.6+ MB

In [407]:
df_date.sample(5)

       Day3 Month1 Year1       Date
171202   04     02  2019 2019-04-02
15254    27     02  2019 2019-02-27
83865    17     02  2019 2019-02-17
85469    17     02  2019 2019-02-17
34447    24     02  2019 2019-02-24

![download.png]()